p {
    display: flex;
    padding: 6px 6px;
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    background-color: darkslategrey;
    position: fixed;
    z-index: 2;
}