body {
    padding: 0;
    border: 0;
    margin: 0;
    /* background-image: url('https://placekitten.com/g/1920/1080'); */
    background-color: cornflowerblue;
    font-family: 'Open Sans', sans-serif;
    color: white;
}